body{
    margin: 0;
    padding: 0;
    background-color: rgb(177, 177, 202);
    font-family: sans-serif;
}
.imagemRolando div div img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: 0% 50%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
}
#conteudo {
    background: rgba(38, 39, 41, 0.75);
    backdrop-filter: blur(0.20rem);
    color: white;
    position: absolute;
    top: 40vh;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    bottom: unset;
    z-index: 5000;
    display: inline;
}